.grid-container{ 
    display:grid; 
    grid-area: 40% 60% / 5% 30% 60% 5%;
    grid-gap: 3em 10px;
}

header{
    display: flex; 
    flex-direction: column;
    grid-column: 1/span 4;
    grid-row: 1;
    margin: 5px 5px 5px 5px;
    background-color: aquamarine;
    text-align: center;
    color: white; 
    font-family: 'Times New Roman', Times, serif; 
    padding-top: 1.5em;
    padding-bottom: 1.5 em; 
    padding-left: 25em;
    padding-right: 25em;  
} 

.header{ 
    margin: 50px;
    font-size: 20px;
    border: 1px  solid white;
}

.Sidebar{ 
    grid-column: 2;
    grid-row: 2;
    background-color: beige;
} 

.Sidebar h2{
    text-align: center;
    color: black;
}  

img{
    margin: 50px;
    align-self: center;
    height:200px;
    width: 200px;
    border-radius: 50%;
}
 
.contact{
    padding-bottom: 2em; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
} 

.media{
    padding-top: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;   
} 

.Main{
    grid-column: 3;
    grid-row: 2;
    margin-left: 2em;
    margin-right: 2em;
    background-color: white; 
    font-family: 'Lato', Arial, sans-serif;
    padding-right: 4em;
}  

h2{
    font-family: Bradely Hand, cursive;
    font-size: 30px;
    color: black;
}

.bio p{
    margin: 3em;
} 

.description{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.description .info{ 
    text-align: left; 
    margin-top: auto;
    margin-left: 500px;
    float: left;
    position: relative;
    top: -8px;
}  

.description .info2{
    margin-left: 435px;
} 

.description .info3{
    margin-left: 425px;
} 

.description .info4{
    margin-left: 470px;
} 

.description .info h3{
    margin-bottom: 5px;
} 

.description .duration{
    font-size: 0.9em;
    line-height:0.9em;
    font-weight: bold;
}
.expertise{
    display:flex;
} 

.expertise-right{
    float: left;
} 

.expertise-left{
    float: right; 
    padding-left: 10em;
}
