.grid-container{ 
    border: 2px white sold; 
    width:400px;
    height: 500px; 
    display:grid; 
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(2, 150px);
    row-gap: 20px; 
    column-gap: 60px;

} 

#box1 { 
    grid-column: 1/ span 3;
    grid-row: 1;
} 

#box2{
    grid-column: 1;
    grid-row: 2/ span 2;
}  

#box3 {
    grid-column: 2; 
    grid-row:2;
}

