.grid-container{ 
    display:grid; 
    grid-area: 40% 60% 5% 30% 60% 5%;
    grid-gap: 3em 10px;
}

header{
    display: flex; 
    flex-direction: column;
    grid-column: 1/span 4;
    grid-row: 1;
    margin: 5px 5px 5px 5px;
    background-color: aquamarine;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    padding-top: 1.5em;
    padding-bottom: 1.5 em;
} 

.header{
    margin: 50px;
    font-size: 20px;
    border: 1px solid white;
}

.Sidebar{ 
    grid-column: 2;
    grid-row: 2;
    background-color: beige;
} 

.Sidebar h2{
    text-align: center;
    color: black;
}