.grid-container{ 
    display:grid; 
    grid-area: 40% 60% / 5% 30% 60% 5%;
    grid-gap: 3em 150px;
}

header{
    display: flex; 
    flex-direction: column;
    grid-column: 1/span 4;
    grid-row: 1;
    margin: 5px 5px 5px 5px;
    background-color: #5AB1BB;
    text-align: center;
    color: white; 
    font-family: 'Berkshire Swash', cursive;
    padding-top: 1.5em;
    padding-bottom: 1.5 em; 
    padding-left: 25em;
    padding-right: 25em;  
} 

.header{ 
    margin: 50px;
    font-size: 20px;
    border: 1px  solid white;
}

.Sidebar{ 
    grid-column: 2;
    grid-row: 2;
    background-color: beige; 
    line-height: 2cm; 
}

.Sidebar h2{
    color: black; 
    font-family:'Scheherazade', serif;
    font-weight: bold; 
    font-size:30px; 
    margin-right:-100px;
}  

img{
    margin: 50px;
    align-self: center;
    height:200px;
    width: 200px;
    border-radius: 50%;
}
 
.contact{
    padding-bottom: 2em; 
    font-family: 'Scheherazade', serif;
    font-size: 25px; 
} 

.media{
    padding-top: 2em; 
    font-family: 'Scheherazade', serif;
    font-size: 25px;   
} 

.Main{
    grid-column: 3;
    grid-row: 2;
    margin-left: 2em;
    margin-right: 20px;
    background-color: white; 
    font-family: 'Mate', serif;  
    font-size: 1em;
    padding-right: 4em;
}  

.Main h2{
    font-family: 'Scheherazade', serif;
    font-size: 35px;
    color: black;
} 

.experience h2, .Education h2, .expertise h2{
    text-transform: uppercase; 
    font-family: 'Scheherazade', serif;
    font-size: 30px;
    color: black;
}

.bio p{
    line-height: 1cm;  
    text-align: left; 
    font-family:'Mate', serif; 
}

.description{
    display: flex; 
    margin-top: 30px;
    margin-bottom: 30px;
} 

.description .info{  
    text-align: left;  
    margin-top: auto;
    margin-left: 280px;
    float: left; 
    margin-top:-30px;
}  

.description .info2{
    margin-left: 180px; 
    margin-top:-25px; 
} 

.description .info3{
    margin-left: 220px; 
    margin-top:-30px;
} 

.description .info4{
    margin-left: 240px; 
    margin-top:-25px
} 

.description .info h3, .description .info2 h3, .description .info3 h3, .description .info4 h3{
    font-family:'Scheherazade', serif; 
    font-size: 1.5em;
} 

.description .duration{
    font-size: 1.5em;
    line-height: 0.9em;
    font-weight: bold; 
    font-family:'Scheherazade', serif; 
}
.skils{
    display:flex;
} 

.expertise-right{
    line-height: 1cm;
}
.expertise-left{
    float: left;  
    margin-left:425px; 
    margin-top: -195px; 
    line-height: 1cm;
} 

hr.divide1{ 
    border: 2px solid black;
}
